$body-bg: white;
$font-family-base: "SoDo Sans SemiBold";

@font-face {
  font-family: "Sodo Sans SemiBold";
  src: url("../font/SoDo\ Sans\ SemiBold.ttf");
  src: url("../font/d7e8a95865396cddca89b00080d2cba6.woff") format("woff"),
    url("../font/d7e8a95865396cddca89b00080d2cba6.eot") format("opentype"),
    url("../font/d7e8a95865396cddca89b00080d2cba6.svg") format("svg");
}

.img-cover-left {
  width: 100%;
  height: 100vh;

  position: sticky;
  top: 0;
  background-image: url("../assets/3031_FR_MOP_Homepage_banner_v01.jpg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 100px;
}

header nav .nav-link:hover {
  color: #00653e;
}

@import "../node_modules/bootstrap/scss/bootstrap";
