$body-bg: white;

.img-cover-left {
  width: 100%;
  height: 100vh;

  position: sticky;
  top: 0;
  background-image: url("../assets/3031_FR_MOP_Homepage_banner_v01.jpg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 100px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
